:root {
  --color1: #394a51;
  --color2: #7fa99b;
  --color3: #fbf2d5;
  --color4: #fdc57b;
}

body {
  font-family: "Share Tech", sans-serif;
  margin-left: 30px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  margin-top: 20px;
}

.game-container {
  width: 50%;
  background-color: var(--color3);
  padding: 20px;
  border-radius: 10px;
}
