:root {
  --color1: #394a51;
  --color2: #7fa99b;
  --color3: #fbf2d5;
  --color4: #fdc57b;
}

/* ELEMENTS */

body {
  font-family: "Share Tech", sans-serif;
  color: var(--color1);
  margin-left: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

/* CLASSES */

.game-container {
  width: 322px;
  background-color: var(--color3);
  padding: 20px;
  border-radius: 10px;
}

.game-board {
  border: solid 1px var(--color1);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: solid 1px var(--color1);
  width: 30px;
  height: 30px;
}

.cell:hover {
  cursor: pointer;
}

.end-game-screen {
  position: absolute;
}
