body {
  font-family: monospace;
  margin-left: 30px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  margin-top: 20px;
}

.game-container {
  width: 50%;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
}
